

    <div id="app">
      <div id="home">
        <div class="container page cf">
          <div class="column main">

            <%= render :partial => "message_form" %>

            <a style="display:none;" href="#show" class="alert incoming" id="show-new-mopeds">
              <span id="new-moped-text">no new tweets</span>
            </a>

            <a style="display:none;" href="/#" class="feedtitle">
              <span class="name"></span>
              <span class="close">×</span>
            </a>

            <ul class="feed" id="mopeds">
              <% if !current_user.nil? %>
                <% friends_of_current_user = current_user.friendships %>

                <% array_of_friend_ids = Array.new %>
                <% posts_to_be_displayed = Array.new %>

                <% friends_of_current_user.each do |friend| %>
                  <% array_of_friend_ids.append friend.friend_id %>
                <% end %>

                <% array_of_friend_ids.append current_user.id %>

                <% array_of_friend_ids.each do |friend_id| %>
                  <% posts_to_be_displayed = posts_to_be_displayed + Post.find(:all, :conditions => ['user_id = ?', friend_id]) %>
                <% end %>

                <% posts_to_be_displayed.sort_by! { |post_to_be_displayed| - post_to_be_displayed.id } %>

                <% posts_to_be_displayed.each do |post_to_be_displayed| %>
                  <li class="moped cf">
                    <div class="frame cf message">
                      <div class="image" style="height:54px;">
                        <img width="54" height="54" alt="" src="http://www.junction49.co.uk/public/styles/images/default_user_300x300.png">
                      </div>
                      <div class="body">
                        <div class="creator">
                          <a class="username" href="#"><%= post_to_be_displayed.user.username -%></a>
                          <span class="displayname"><%= post_to_be_displayed.user.full_name -%></span>
                        </div>
                        <button class="remove">×</button>
                        <pre class="thing"><%= post_to_be_displayed.message %></pre>
                        <span class="timestamp" data-time="1328690942"><%= time_ago_in_words(post_to_be_displayed.created_at) %></span>
                        <button class="reply">Reply</button>
                      </div>
                    </div>
                    <!--<div class="shadow"></div>-->
                  </li>
                <% end %>
              <% end %>
            </ul>
            <div class="status loading" id="loading-status"></div>
          </div>
          <div class="column side" id="sidebar">
            <ul id="tags">
              <li>
                <a data-count="1" class="filter" >
                  <span class="name"><b>Trends</b></span><span class="close">×</span>
                </a>
              </li>
              <li>
                <a data-count="1" class="filter" href="#tag/rahuldravid">
                  <span class="name">#RahulDravid</span><span class="close">×</span>
                </a>
              </li>
              <li>
                <a data-count="1" class="filter" href="/tag/ipad4">
                  <span class="name">#iPad4</span><span class="close">×</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
