
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweebo</title>
    <link type="image/png" href="http://beta.moped.com/img/favicon.png" id="favicon" rel="shortcut icon">
    <link href="http://beta.moped.com/img/apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon-precomposed">
    <link href="http://beta.moped.com/img/apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon-precomposed">
    <link href="http://beta.moped.com/img/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
    <script type="text/javascript" async="" defer="" src="https://api.mixpanel.com/track/?data=eyJldmVudCI6ICJtcF9wYWdlX3ZpZXciLCJwcm9wZXJ0aWVzIjogeyIkb3MiOiAiTWFjIE9TIFgiLCIkYnJvd3NlciI6ICJGaXJlZm94IiwiJGluaXRpYWxfcmVmZXJyZXIiOiAiIiwiJGluaXRpYWxfcmVmZXJyaW5nX2RvbWFpbiI6ICIiLCJtcF9uYW1lX3RhZyI6ICJjaGlyYW50YW4iLCJtcF9icm93c2VyIjogIkZpcmVmb3giLCJtcF9wbGF0Zm9ybSI6ICJNYWMgT1MgWCIsIm1wX3BhZ2UiOiAiaHR0cHM6Ly9iZXRhLm1vcGVkLmNvbS8iLCJ0b2tlbiI6ICJiM2JlZWNjMmEzOTI1MWExMmQwZWQ1ZTcwMmY2YmM5ZiIsInRpbWUiOiAxMzMxMzA5OTMyfX0%3D&amp;ip=1&amp;callback=mpq.metrics.jsonp_callback&amp;_=1331309932789"></script>
    <script type="text/javascript" async="" src="https://api.mixpanel.com/site_media/js/api/mixpanel.js"></script>

    <%= javascript_include_tag 'beacon', 'pusher', 'track', 'libs', 'index' -%>
    <%= stylesheet_link_tag 'moped' -%>

  </head>

  <body>
    <header role="banner" class="outer" id="header">
      <div class="container">
        <div class="logo home"><h1 style="color:white;">Tweebo</h1></div>
        <span class="loading" style="opacity: 0;"></span>
        <!-- <span onclick="humane.action('click me');">click me</span> -->
        <div class="menu">
          <a title="Home" class="home" href="/#">Home</a>

          <ul class="notifications dropdown" id="notifications">
            <a title="Notifications" href="#">Notifications</a>
            <% flash.each do |name, message| %>
              <li class="unread" id="<%= "flash_#{name}" -%>" ><%= message -%></li>
            <% end %>
          </ul>

          <input type="search" placeholder="search">
          <% if current_user -%>
            <ul class="profile dropdown right arrow">
              <a href="#"><img style="line-height: 48px;" width="24" height="24" style="height:24px;" src="http://a3.twimg.com/sticky/default_profile_images/default_profile_4_mini.png" class="user-image"></a>
              <li><a href="<%= users_path(:id => current_user) -%>">Make Friends</a></li>
              <li><%= link_to "My Friends", { :controller => "friendships", :action => "show", :id => current_user } %></li>
              <li><a id="logout" href="/logout">Logout</a></li>
            </ul>
          <% end -%>
        </div>
      </div>
    </header>
        <%= yield %>
   <div id="humane" class="humane"></div>
  </body>
</html>
